.deps
.libs
.*~
.*.swp
*.py
*.pyc
*.o
*.lo
*.la

INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ktcacheorbust.cc.debugging
libtool
ltmain.sh
missing
stamp-h1
